@font-face {
    font-family: "font";
    src: url(/fonts/godofwar/GODOFWAR.TTF);
}
/* important prioriza o elemento em si */
/* versões antigas prioridade é de quem é declarado abaixo, ou por último */
#pagina{
    background-color: rgb(0, 0, 0) !important ;
}

.carousel-caption{
    font-family: "font" !important;
    background-color: rgba(0, 0, 0, 0.336);
}

h1{
    font-family: "font" !important;
}